/////////////// Global Styling ///////////////
body {
  margin: 4rem;
  background: linear-gradient(
    to bottom right,
    var(--color-tertiary),
    var(--color-secondary)
  );
  background-size: cover;
  height: 100vh;
}

.main {
  height: 85%;
  background: var(--color-dark);
  box-shadow: 0.3rem 0.8rem 2.5rem var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.components {
  display: flex;
  justify-content: center;
  align-items: center;
}
