/////////////// Global Styling ///////////////
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #f4f4f4;
  list-style: none;
  text-decoration: none;
}

.main {
  .title,
  .title__link:link,
  .title__link:visited {
    color: var(--color-tertiary);
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      transform: skewX(-20deg);
      color: var(--color-accent);
    }
  }

  .components {
    &__item {
      color: var(--color-light);
    }
  }
}
