/////////////// Global Styling ///////////////
.components {
  &__item,
  &__item:visited,
  &__item:link {
    // outline: crimson 1px solid;
    margin: 2.3rem;
    padding: 0.8rem 3rem;
    background: var(--color-primary);
    border-radius: 0.7rem;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.18);
      box-shadow: 0 0.2rem 0.8rem var(--color-light);
      background: indigo;
    }
  }
}

/////////////// MAIN SECTIONS ///////////////
.main {
  position: relative;
  .title {
    // outline: indigo 2px solid;
    margin: 2rem;
  }

  .go-home {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    .btn {
      @include btn;

      &__1 {
        border-radius: 0;
        font-size: 2rem;
        font-family: "Druk", Arial, Helvetica, sans-serif;
        color: var(--color-dark-2);
        background: var(--color-accent-2);
        transition: all 0.35s ease;

        &:hover {
          animation: levitate 1s infinite ease-in;
        }
      }

      &__2 {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;

        transition: all 1s ease 0.5s;

        &:hover {
          animation: morph 0.6s ease forwards;
        }
      }

      &__3 {
        text-transform: uppercase;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-weight: lighter;
        font-size: 1.2rem;
        font-style: italic;
        color: var(--color-dark-3);
        background: linear-gradient(
          to bottom,
          var(--color-secondary),
          var(--color-tertiary)
        );
        border-radius: 1rem;
        transition: all ease-in-out 0.5s;

        &:hover {
          background: linear-gradient(
            to bottom,
            var(--color-accent-2),
            var(--color-accent-3)
          );

          animation: floating 0.5s ease-out forwards;
          color: var(--color-accent);
          border-radius: 0;
        }
      }

      &__4 {
        text-transform: uppercase;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 1.3rem;
        color: var(--color-dark-2);
        background: linear-gradient(
          to bottom,
          var(--color-primary),
          var(--color-secondary)
        );
        transition: all 1s ease-out;

        &:hover {
          animation: grow 1s forwards ease;
        }
      }

      &__5 {
        transition: all 0.5s ease-in-out;
        &:hover {
          animation: slide 0.5s ease-in-out forwards;
          background: linear-gradient(to right, #f4f4f4, #fff);
          color: var(--color-dark-3);
          text-transform: uppercase;
        }
      }
    }
  }

  .navbars {
    width: 80%;
    .nav {
      // outline: 2px solid crimson;
      margin: 2rem;
      padding: 1rem 2rem;
      width: 100%;
      background: indigo;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__1 {
        border-radius: 5rem;
        &--logo {
          font-family: "Druk", "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          font-size: 2rem;
          text-transform: uppercase;
          font-style: italic;
          &:hover {
            cursor: pointer;
          }
        }

        &--item {
          padding: 0.5rem;
          border-radius: 15rem;
          transition: all 0.2s;
          &:hover {
            background-color: var(--color-light);
            color: var(--color-dark);
            cursor: pointer;
          }
        }
      }

      &__2 {
        justify-content: space-around;
        background-color: var(--color-primary);
        border-radius: 0.5rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        &--logo {
          font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
          font-size: 1.8rem;
          text-transform: uppercase;
          color: var(--color-dark-3);
        }

        &--item {
          transition: all 0.6s;
          &:hover {
            cursor: pointer;
            color: var(--color-dark-3);
            transform: scale(1.2);
          }
        }
      }

      &__3 {
        background-color: var(--color-dark-2);
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: lighter;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &--logo {
          font-size: 2.5rem;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
          margin-right: 20rem;
          text-transform: uppercase;
          font-weight: bolder;
          font-style: italic;
          color: var(--color-accent-2);
          transition: all 0.4s ease-in-out;
          &:hover {
            transform: translateX(1.6rem);
            cursor: pointer;
          }
        }

        &--item {
          transition: all 0.7s ease-in-out;
          &:hover {
            cursor: pointer;
            color: var(--color-accent);
            transform: translateY(-0.5rem);
          }
        }
      }

      &__4 {
        background-color: var(--color-accent-2);
        color: var(--color-dark-3);
        font-weight: bold;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 0.8rem;
        text-transform: uppercase;
        border-radius: 0.5rem;

        &--logo {
          font-size: 1.35rem;
          font-family: "Druk", Arial, Helvetica, sans-serif;
          transition: all 0.35s ease-in-out;
          &:hover {
            cursor: pointer;
            transform: scale(1.2);
            color: var(--color-dark-2);
          }
        }

        &--item {
          transition: all 0.25s ease-in-out;
          &:hover {
            transform: translateX(0.6rem);
            cursor: pointer;
            color: var(--color-light-2);
          }
        }
      }

      &__5 {
        background-color: var(--color-light);
        color: var(--color-dark);
        font-family: "Druk";

        &--logo {
          text-transform: uppercase;
          font-weight: lighter;
          font-size: 1.5rem;
          &:hover {
            cursor: pointer;
          }
        }

        &--item {
          transition: all 0.3s ease-in-out;
          &:hover {
            cursor: pointer;
            transform: translateY(-0.3rem);
            color: var(--color-dark-2);
          }
        }
      }
    }
  }

  .cards {
    border: solid crimson 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .card {
      width: 20rem;
      height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.8rem 2rem;
      background-color: var(--color-light);
      border-radius: 0.3rem;
      justify-content: space-between;
      box-shadow: 0rem 0.5rem 1.5rem black;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    .btn {
      background: none;
      border: none;
      color: var(--color-light);
      background-color: var(--color-dark-3);
      padding: 0.3rem;
      width: 5rem;
      border-radius: 0.4rem;

      &:hover {
        cursor: pointer;
      }
    }

    .card--1 {
      &__title {
        // margin-bottom: 0.5rem;
        color: var(--color-dark);
        text-transform: uppercase;
        font-family: "Druk", Arial, Helvetica, sans-serif;
      }

      &__img {
        width: 100%;
        height: 11rem;
        content: url(/assets/img/card1-img.jpg);
        border-radius: 0.3rem;
      }

      &__para {
        color: var(--color-dark);
        text-align: center;
      }
    }

    .card--2 {
      align-items: flex-start;
      background-color: var(--color-primary);
      border-radius: 0;
      &__title {
        color: var(--color-dark);
        text-transform: uppercase;
        font-family: "Bebas Regular", "Arial Narrow", Arial, sans-serif;
      }

      &__img {
        width: 100%;
        height: 11rem;
        content: url(/assets/img/card2-img.jpg);
        border-radius: 0.3rem;
        box-shadow: 0rem 0.2rem 1rem var(--color-dark-2);
      }

      &__para {
        color: var(--color-dark);
        text-align: left;
      }

      &__btn {
        background-color: var(--color-accent-3);
        color: var(--color-dark);
        text-transform: uppercase;
        font-size: 0.7rem;
        border-radius: 0;
      }
    }

    .card--3 {
      align-items: flex-end;
      background-color: var(--color-accent-3);
      border-radius: 2rem;
      &__title {
        color: var(--color-dark);
        text-transform: uppercase;
        font-family: "Typo Grotesk", "Arial Narrow", Arial, sans-serif;
      }

      &__img {
        width: 100%;
        height: 11rem;
        content: url(/assets/img/card3-img.jpg);
        border-radius: 2rem;
        box-shadow: 0rem 0.2rem 1rem var(--color-dark-2);
      }

      &__para {
        color: var(--color-dark);
        text-align: center;
        font-family: "Typo Grotesk", "Arial Narrow", Arial, sans-serif;
      }

      &__btn {
        background-color: var(--color-dark);
        text-transform: uppercase;
        font-size: 0.7rem;
        border-radius: 2rem;
        font-family: "Typo Grotesk", "Arial Narrow", Arial, sans-serif;
      }
    }

    .card--4 {
      background-color: var(--color-dark);
      &__title {
        color: var(--color-light);
        text-transform: uppercase;
        font-family: "Coolvetica", "Arial Narrow", Arial, sans-serif;
      }

      &__img {
        width: 100%;
        height: 11rem;
        content: url(/assets/img/card4-img.jpg);
        box-shadow: 0rem 0.2rem 1rem black;
      }

      &__para {
        color: var(--color-light);
        text-align: center;
        font-family: "Coolvetica", "Arial Narrow", Arial, sans-serif;
      }

      &__btn {
        background-color: var(--color-secondary);
        text-transform: uppercase;
        font-size: 0.7rem;
        border-radius: 0;
        font-family: "Coolvetica", "Arial Narrow", Arial, sans-serif;
      }
    }
  }

  .forms {
    // outline: 0.5rem coral solid;
    width: 80%;
    display: flex;
    justify-content: space-around;
    .form {
      &__1 {
        // outline: solid crimson 2px;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 1.5rem;
        background-color: var(--color-light);
        border-radius: 1.2rem;
        &--img {
          width: 5rem;
          border-radius: 50%;
          background-color: var(--color-dark);
          margin: 0.8rem;
        }

        .fields {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &--input {
          border-radius: 0.5rem;
          border: var(--color-dark) 0.4px solid;
        }

        &--field {
          display: flex;
          flex-direction: column;
          padding: 0.3rem;
        }

        &--text {
          color: var(--color-dark-3);
          font-size: 0.8rem;
        }

        &--button {
          // stock style
          align-self: center;
          margin: 0.4rem;
          width: 6rem;

          border-radius: 1rem;
          border: none;
          background-color: crimson;
          color: var(--color-light);
          height: 1.5rem;
          transition: all 0.4s ease-in-out;

          &:hover {
            cursor: pointer;
            width: 7rem;
            box-shadow: 0rem 0.1rem 0.2rem var(--color-dark-3);
          }
        }
      }

      &__2 {
        // outline: solid crimson 2px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 1.5rem;
        background-color: var(--color-accent-2);
        &--img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          background-color: var(--color-dark);
          margin: 0.8rem;
        }

        .fields {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &--input {
          // border: var(--color-dark) 0.4px solid;
        }

        &--field {
          display: flex;
          flex-direction: column;
          padding: 0.3rem;
          text-align: center;
        }

        &--text {
          color: var(--color-dark-3);
          font-size: 0.8rem;
        }

        &--button {
          // stock style
          align-self: center;
          margin: 0.4rem;
          width: 6rem;

          // border-radius: 1rem;
          border: none;
          background-color: var(--color-dark);
          color: var(--color-light);
          height: 1.5rem;
          transition: all 0.4s ease-in-out;

          &:hover {
            cursor: pointer;
            width: 7rem;
          }
        }
      }

      &__3 {
        // outline: solid crimson 2px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 1.5rem;
        background-color: var(--color-primary);
        border-radius: 3rem;
        box-shadow: 0rem 0.5rem 0.2rem var(--color-dark-3);
        &--img {
          width: 5rem;
          height: 5rem;
          border-radius: 10%;
          background-color: var(--color-dark);
          margin: 0.8rem;
        }

        .fields {
          display: flex;
          flex-direction: column;
        }

        &--input {
          border-radius: 1rem;
          border: none;
        }

        &--field {
          display: flex;
          flex-direction: column;
          padding: 0.3rem;
        }

        &--text {
          color: var(--color-dark-3);
          font-size: 0.8rem;
        }

        &--button {
          // stock style
          align-self: center;
          margin: 0.4rem;
          width: 6rem;

          border-radius: 0.5rem;
          border: none;
          background-color: var(--color-accent-3);
          color: var(--color-dark);
          height: 1.5rem;
          transition: all 0.4s ease-in-out;

          &:hover {
            cursor: pointer;
            transform: translateX(1.5rem);
            box-shadow: -0.2rem 0rem 0.5rem var(--color-dark-3);
          }
        }
      }
      &__4 {
        // outline: solid crimson 2px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 1.5rem;
        background-color: var(--color-secondary);
        box-shadow: 0rem 0.5rem 0.2rem var(--color-dark-3);
        &--img {
          width: 5rem;
          height: 5rem;
          border-radius: 35%;
          background-color: var(--color-dark);
          margin: 0.8rem;
        }

        .fields {
          display: flex;
          flex-direction: column;
        }

        &--input {
          border: none;
        }

        &--field {
          display: flex;
          flex-direction: column;
          padding: 0.3rem;
        }

        &--text {
          color: var(--color-light);
          font-size: 0.8rem;
        }

        &--button {
          // stock style
          align-self: center;
          margin: 0.4rem;
          width: 6rem;

          border: none;
          background-color: var(--color-primary);
          color: var(--color-light);
          height: 1.5rem;
          transition: all 0.4s ease-in-out;
          border-radius: 1rem;

          &:hover {
            cursor: pointer;
            transform: translateX(1.5rem);
            box-shadow: -0.2rem 0rem 0.5rem var(--color-dark-3);
          }
        }
      }
    }
  }

  // Button-Animations
  @keyframes levitate {
    0% {
      transform: translateY(0) scale(1);
      box-shadow: none;
    }

    50% {
      transform: translateY(-1.5rem) scale(1.05);
      box-shadow: 0 0.4rem 2rem var(--color-light);
    }

    100% {
      transform: translateY(0);
      box-shadow: none;
    }
  }

  @keyframes morph {
    0% {
      border-radius: 50rem;
      transform: translateY(0);
    }

    25% {
      border-radius: 10rem;
    }

    50% {
      transform: translateY(-0.4);
      border-radius: 25rem;
    }

    100% {
      border-radius: 0;
      transform: translateY(-0.85rem) skewX(-10deg);
      background: var(--color-primary);
      color: var(--color-dark);
      font-weight: bold;
      box-shadow: 0 1rem 2rem var(--color-dark-3);
    }
  }

  @keyframes floating {
    100% {
      transform: scale(1.1) translateY(1.2rem);
      box-shadow: 0 1rem 1.5rem var(--color-dark-3);
    }
  }

  @keyframes grow {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.5);
      box-shadow: 0rem 0.5rem 1rem var(--color-dark-3);
    }

    100% {
      transform: scale(2);
      box-shadow: 0rem 0.5rem 1.5rem var(--color-dark-3);
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(5rem);
    }
  }
}
