/////////////// Global Styling ///////////////
.components {
  &__item,
  &__item:visited,
  &__item:link {
    // outline: crimson 1px solid;
    margin: 2.3rem;
    padding: 0.8rem 3rem;
    background: var(--color-primary);
    border-radius: 0.7rem;
    text-decoration: none;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.18);
      box-shadow: 0 0.2rem 0.8rem var(--color-light);
      background: indigo;
    }
  }
}

/////////////// Buttons ///////////////
.main {
  position: relative;
  .title {
    // outline: indigo 2px solid;
  }

  .go-home {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;

    .btn {
      @include btn;

      &__1 {
        border-radius: 0;
        font-size: 2rem;
        font-family: "Druk", Arial, Helvetica, sans-serif;
        color: var(--color-dark-2);
        background: var(--color-accent-2);
        transition: all 0.35s ease;

        &:hover {
          animation: levitate 1s infinite ease-in;
        }
      }

      &__2 {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;

        transition: all 1s ease 0.5s;

        &:hover {
          animation: morph 0.6s ease forwards;
        }
      }
    }
  }

  // Button-Animations
  @keyframes levitate {
    0% {
      transform: translateY(0) scale(1);
      box-shadow: none;
    }

    50% {
      transform: translateY(-1.5rem) scale(1.05);
      box-shadow: 0 0.4rem 2rem var(--color-light);
    }

    100% {
      transform: translateY(0);
      box-shadow: none;
    }
  }

  @keyframes morph {
    0% {
      border-radius: 50rem;
      transform: translateY(0);
    }

    25% {
      border-radius: 10rem;
    }

    50% {
      transform: translateY(-0.4);
      border-radius: 25rem;
    }

    100% {
      border-radius: 0;
      transform: translateY(-0.85rem) skewX(-10deg);
      background: var(--color-primary);
      color: var(--color-dark);
      font-weight: bold;
      box-shadow: 0 1rem 2rem var(--color-dark-3);
    }
  }
}
